{
  "sourceMaps": true,
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current",
        },
        "forceAllTransforms": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-async-to-generator"
  ]
}
